/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'PT Mono', sans-serif;
  font-size: 13px;
  text-align: center;
  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 120%; 
  font-family: 'Oswald', sans-serif; 
  text-rendering: optimizeLegibility;}

h1 { margin-bottom: 1em;}
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: 'PT Mono', sans-serif;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.rss{
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  background: url('/byte-club/img/rss.png') no-repeat center center;
}

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header{text-align: center;}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-top: -2em;
  margin-bottom: 2em;
  line-height: 1;
  font-size: 260%;
}

.site .header h1.title a {
  font-size: 300%;
  color: #992d2e;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
  float: right;
}

.site .header a.extra:hover {
  color: #000;
}

.avatar{
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  overflow: hidden;
}
.avatar img{width: 100%;}

.site .meta {
  color: #aaa;
}

.site .footer {
  height: 3em;
  margin-top: 3em;
  padding-top: 1em;
  border-top: 2px solid #eee;
  font-size: 12px;
  color: #aaa;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .subscribe{
    float: right;
}

.site .footer .subscribe a{text-decoration: none; color: inherit;}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media screen and (max-width: 570px){
	.avatar{height: 60px; width: 60px;}
	.container{padding: .5em;}
	.site{width: 100%; margin-top: 0;}
	.site .header h1.title{display: inline-block; font-size: 140%;}
	.site .footer{position: fixed; bottom: 0; left: 2%; width: 96%;}
}
