<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/byte-club/css/main.css">
        
        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
            <div class="avatar">
              	<img src="/byte-club/img/byte-club-cover-small.png" />
              </div>
              <h1 class="title"><a href="{{ site.url }}/">{{ site.name }}</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              2013
              <div class="subscribe">
                <a href="http://dpplweb.github.io/byte-club/podcast.xml"><i class="rss"></i> Subscribe</a>
              </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
